body{
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper{
    background-color: ivory;
    border: 2px solid lightslategray;
    border-radius: 1em;
    padding: 2em;
}
.input-text{
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 0.75em;
}

#password-box{
    width: 100%;
    box-sizing: border-box;
    height: 2em;
    font-size: 1.1rem;
    padding: 0 0.3em;
    margin-bottom: 0.5em;
}

#slider{
    width: 100%;
    margin: 0;
}

.slider-box{
    margin-bottom: 1em;
}
.slider-text{
    display: flex;
    justify-content: space-between;
}

h3, h4{
    margin: 0;
}

.boxes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 1em;
}

.generate{
    margin: auto;
}
#generate-button{
    width: 100%;
    height: 1.75em;
    font-size: 1.25rem;
}